.Media-section {
    background-color: $bg-light;
    border-radius: 15px;

    .media-title {
        font-weight: bold;
        font-size: 22px;
    }

    .media-artist {
        font-weight: lighter;
        font-size: 14px;
    }

    .media-controls {
        font-size: 22px;
        font-family: "Material Symbols Rounded Filled 20pt";
    }

    scale.media-track trough {
        background-color: $bg-alt;
        min-height: 7px;
        border-radius: 10px;
    }
    
    scale.media-track trough highlight {
        background: $accent;
    }
}