* {
    all: unset;
    transition: 200ms ease-in;
}

.power-menu-main {
    font-family: Noto Sans;

    .bg {
        background-image: url("./assets/bg.jpg");
        background-size: cover;
        min-width: 1920px;
        min-height: 1200px;
    }

    .month {
        font-size: 36px;
        font-weight: bold;
        color: $blue;
        padding-left: 4rem;
    }

    .day {
        font-size: 256px;
        font-weight: bold;
    }

    .time {
        padding: 1rem;
    }

    .power-options {

    }

    .power-options-btn {
        border: 1px solid $gray;
        padding: 1rem;
        margin: 0 1rem;
    }

    .power-options-btn:hover {
        padding: 1.5rem;
    }
}

