$whitesmoke: #B8BDC9;

$light-gray: #777777;
$gray: #313547;
$dark-gray: #1F1F26;
$raisin-black: #20202A;

$red: #f7768e;
$dark-red: #77404A;

$light-blue: #c0caf5;
$blue: #577bb5;
$dark-blue: #364A73;

$yellow: #ebba5e;
$dark-yellow: #9A7D47;

$mint: #76c2a1;
$green: #6ca38b;
$dark-green: #52846E;

$purple: #bb9af7;
$orange: #ff9e64;

$bg: #1b1b26;