.calendar {
    .calendar-header {
        font-weight: bold;
        font-size: 14px;
        color: $gray;
        background-color: $bg;
        padding: 5px 12px;
    }

    calendar {
        color: $whitesmoke;
        background-color: $bg;
        border-radius: 0 0 8px 8px;
        padding: 0.2em;

        &:selected {
            color: $blue;
        }

        &:indeterminate {
            color: $gray;
        }
    }

    .date {
        font-size: 18px;
        font-weight: bold;
        color: $whitesmoke;
        background-color: $bg;
        border-radius: 8px 8px 0 0;
        padding: 16px 16px 8px;
    }
}