.weather {
    background-color: $raisin-black;
    border-radius: 8px;

    .weather-icon {
        font-family: NotoEmoji Nerd Font Mono;
        font-size: 48px;
        color: $bg;
        background-image: linear-gradient(to right, $blue, #678ac2);
        border-radius: 8px;
        padding: 8px;
        margin: 16px;
    }

    .weather-details {
        border-radius: 8px 8px 0 0;
    }

    .weather-type {
        font-size: 14px;
        color: $light-gray;
    }

    .weather-temp {
        font-weight: bold;
        color: $whitesmoke;
        font-size: 28px;
    }
}
